html {
    font-family: "Noto Serif", "Noto Serif JP", serif;
}

h1 {
    text-align: center;  
}

h1 div {
    margin-top: 50px;
}

section {
    max-width: 70vw;
    width: 1260px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 60vw;
    width: 700px;
}

.text {
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: larger;
}

.author {
    font-size: x-large;
}

.operation {
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}